body{font-family: Arial, Helvetica, sans-serif!important; background-color: rgb(0, 32, 50)!important; display: flex; flex-direction: column; height: 15000;}
.navbar{background-color: rgb(203, 93, 93); box-shadow: 0px 1px 8px -2px #999999;}
.navbar-brand-mt-3{width: min-content; height: min-content; margin-right: 2%;}
.navbar-brand-mt-3 img{opacity: 0.5;}
.dropdown-toggle:defined{background-color: white!important; color: rgb(0, 32, 50)!important;}
.dropdown-toggle:hover{background-color: white!important; color: rgb(0, 32, 50)white!important;}
.dropdown-toggle:focus{background-color: white!important; color: rgb(0, 32, 50)!important;}
.dropdown-toggle:active{background-color: white!important; color: rgb(0, 32, 50)!important;}
.btn-outline-primary{color: white(0, 32, 50)!important; border: none!important;}
.dropdown-item:hover, .dropdown-item:active, .dropdown-item.active{
    background-color: white!important;
    color: rgb(0, 32, 50)!important;
  }
.menu img{margin-left: 4%;}
.forButton.buttonOrderAndService{width: 100%;  display: flex; flex-direction: row; margin-bottom: 7%;}
body{font-family: Arial, Helvetica, sans-serif!important; background-color: rgb(0, 32, 50)!important; }

.text1{line-height: 120%; letter-spacing: 0.25rem; color: white; width: 100%;  margin-bottom: 1%; padding-left: 3%; padding-right: 3%; font-family: Arial, Helvetica, sans-serif; font-weight: 500!important;display: flex; flex-direction: column;  justify-content: end; font-size: 50px;} 
.Slogan{width: 100%;  margin-bottom: 1%; font-size: 30px; font-family: Arial, Helvetica, sans-serif; font-weight: 400!important; color: white; padding-left: 4%;}
.p2 {font-family: Arial, Helvetica, sans-serif;}
.car1{width: 700px; height: 500px;}
a.nav-link:hover{color: rgb(21, 43, 116)!important;}
.for-button2{display: flex; justify-content: center;}

.forOrderAndService{
    color:rgb(0, 32, 50)!important;
    background: rgba(255, 255, 255, 0.890)!important;
    font-size: 30px;
    font-weight: 500;
    padding: 3px 10px!important;
    border-radius: 200px!important;
    border: 3px solid transparent!important;
    box-shadow: 0px 0px 22px -9px white!important;
    width: fit-content;
    padding-left: 10%!important;
    padding-right: 10%!important;
    height: fit-content;
    border-color: none!important;
    text-decoration: none;
}
.forOrderAndService:hover{
    box-shadow: 4px 0px 22px -5px rgb(241,199,65)!important;
    background-color: rgb(241,199,65)!important;
    color:rgb(3,51,79)!important;}
.Order{margin-right: 6%;}
.mainInfoAboutServices{margin-top: 5%; width: 100%; height:max-content; padding-bottom: 3%; display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 3%;} 
.card{border-color: none!important; box-shadow: 0px 0px 9px -5px white; margin-bottom: 35px;}
.card-title{color: rgb(0, 32, 50)!important; margin-left: 2%;}
.textForServiceDescription{margin-top: 1%; margin-bottom: 1%; padding-left: 4%; padding-right: 4%; height: 30%; height: max-content; width: 100%; padding-bottom: 1%;
    font-size: 100%;
    font-weight: 500!important;
    color:rgba(0, 32, 50, 0.811)!important;
    font-family: Arial, Helvetica, sans-serif; 
    text-align:left;}

    @media screen and (max-width: 860px) {
        .sloganbr{
            display: none;
        }
        .text1{
            font-size: 30px;
        }
        .Slogan{
            font-size: 20px;
        }
        .forOrderAndService{
            font-size: 20px;
        }
    }
    

.list{text-align: left; font-size: 100%!important;}
.more{display: flex; justify-content: start; padding-left: 5%;}
.forNews{
    display: flex;
    flex-direction: row;
    width: 92%!important;
    height: fit-content;
}
.forTextAboutNews{height: fit-content; padding-bottom: 30px; margin-top: 0%;}
.pictureForNews{width: 100%; height: fit-content; display: flex; flex-direction: column; justify-content: center;}
.pictureNews{width: 100%; margin-bottom: 30px;}
.NewstextText{width: 94%;height: 100%; margin-left: 3.5%; padding-left:25px; display:flex; flex-direction: column; justify-content: start; padding-bottom: 0.5%;}
h1{font-weight: 700!important;
    font-family: Arial, Helvetica, sans-serif; 
    color:rgb(255, 255, 255)!important;}
h4{ color:rgb(255, 255, 255)!important; font-family: Arial, Helvetica, sans-serif; font-size: 100%;}

.OrderNow:hover{box-shadow: 4px 0px 29px -5px #999999;}
.forItalic{font-style: italic;}
.theMainPicture{width: 100%;}
.AboutUs{background-color: white; margin-top: 5%;}
.infoAboutUs{font-size: 10px!important; background-color: white; height: 100px; display: flex; flex-direction: row;padding-left: 1%; padding-bottom: 5%; padding-top: 2%; padding-right: 8%;}
.Contacts{background-color: rgb(0, 32, 50)!important;  color:white!important;}
.infoContacts{background-color:rgb(0, 32, 50)!important; justify-content: start;padding-left: 6%; flex-direction: row; padding-bottom: 2%; padding-top: 1.5%;}
.forInfo{height: max-content; display: flex; flex-direction: row;}
.forTop{width: 20%; height:max-content; border-top-right-radius: 30px; padding-top: 0.5%;
    font-size: 24px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif; 
    color:rgb(3,51,79);
    display: flex;
    justify-content: center;
}
.forContactPicture{width:fit-content; margin-top: 2%; margin-right: 15px;}
img.contacts{width: 45px; height: 45px;}
.forContactText{width: 10%; width: max-content; padding-top: 2%; display: flex; flex-direction: column; justify-content: center; font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif; 
    color:white;
    padding-right: 1%;
}
.teamMember{font-size: 170%!important; 
    width: 100%; height: 250px; font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    color:rgb(3,51,79);
    padding-right: 1%;
    border: 1px solid rgb(3,51,79);
    text-align: start;
    margin-left: 3%;
    padding-left: 2.5%;
    box-shadow: 16px 17px 0px -3px rgb(0, 32, 50)!important;
}
a.aService{text-decoration: none!important;color:rgb(3,51,79)!important;
}
a.tele{text-decoration: none!important; color: white!important;}
.titleLink{margin-right: 1%;}
.container-fluid {
    position: relative;
    color: white;
    padding: 0%!important;
}
.mainCar img{filter: brightness(50%);}
.mainInfo{position: absolute;
    bottom: 0px;
    left: -100%;
    z-index:9; width: 100%; height: 100%; display: flex;}
.InformationForMain{
    position: relative;
    animation: showLeft 1s;
    background-color: rgba(255, 255, 255, 0.174); width: 40%; height: 100%; padding-left: 2%; padding-right: 2%; display: flex; flex-direction: column;  justify-content: end;
padding-bottom: 50px;}
.forButton{width: 100%; display: flex; flex-direction: row; justify-content: start; padding-left: 2%; justify-content: start;}
.forMore{font-size: 100%!important; width: 40%; min-width: max-content; background-color: rgb(0, 32, 50)!important; border-color: rgb(0, 32, 50)!important; border-radius: 170px!important; height: 95%;}
.forMore:hover{width: 41%; height: 96%; background-color: rgb(241,199,65)!important; border-color: rgb(241,199,65)!important; box-shadow: 0px 0px 9px -5px rgb(241,199,65)!important;}
.btn.help{ padding: 0%!important; border-radius:100%; position: absolute; z-index: 10; bottom: 30px; right: 30px; position: fixed; background-color: transparent!important; border: none!important; box-shadow: 0px 0px 22px -9px white}
.help img{height: 45px; width: 45px; border-radius: 100%;}
.btn.btn-primary.FrAQ{padding: 0%!important; border-radius:100%; position: absolute; z-index: 10; bottom: 100px; right: 30px; position: fixed;color:rgb(0, 32, 50)!important; background-color: white!important; border: none!important; box-shadow: 0px 0px 22px -9px white; height: 45px; width: 45px; border-radius: 100%;}
.btn.btn-primary.FrAQ:hover{width: 46px; height: 46px;}
.collapse.help{position: absolute; z-index: 10; bottom: 45px; right: 100px; width: 280px; position: fixed;}
.input-group::placeholder{color: rgba(0, 32, 50, 0.758)!important;}
.input-group{margin-top: 5%; font-size: 60%!important; text-align: left!important;}
.cardMessage{box-shadow: 0px 0px 20px -2px #000000;}
span.message{color: white!important; margin-left: 1%; background-color: rgb(24,122,197); border-radius: 5px; padding-left: 3%; padding-top: 2%; padding-bottom: 2%;} 
.OrderNow{
    color:rgb(0, 32, 50)!important;
    background: rgb(241,199,65)!important;
    font-size: 150%!important;
    font-weight: 500!important;
    padding: 3px 10px!important;
    border-radius: 200px!important;
    border: 3px solid transparent!important;
    box-shadow: 0px 0px 22px -9px white!important;
    width: fit-content;
    padding-left: 10%!important;
    padding-right: 10%!important;
    height: fit-content;
    border-color: none!important;
}
.OrderNow:hover{
    box-shadow: 4px 0px 22px -5px rgb(241,199,65)!important;
    background-color: rgb(241,199,65)!important;
    color:rgb(3,51,79)!important;}
.forOrderNow{ margin-top: 0%!important; display: flex; flex-direction: row; padding-left: 3%; justify-content: start;  margin-bottom: 2%;}
.card.navEx{position: relative; z-index: 12; background-color: aqua; width: 40%; height: 100%;}
.btn.navEx{ padding: 0%!important; border-radius:100%; position: relative; z-index: 15; top: 30px; right: 30px; position: fixed; background-color: transparent!important; border: none!important; box-shadow: 0px 0px 22px -9px white}

@media screen and (max-width: 680px) {
    .mainInfo{
        margin-top: 60px;
        height: 110%
    }
    .text1{
        padding: 0;
    }
    .Slogan{
        padding: 0;
    }
    .InformationForMain{
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
    }
    .buttonOrderAndService{
        display: flex;
        justify-content: space-around;
    }
    .forButton.buttonOrderAndService{
        margin-bottom: 0;
    }
    .teamMember{
        font-size: 5px;
        height: auto;
    }
}